<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woodys.woodysburger">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/woody"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/woody"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">




        <activity
            android:name=".LoginActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegistrationActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"/>


        <activity
            android:name=".MainMenuActivity"
            android:exported="true"/>

        <activity
            android:name=".ProfileActivity"
            android:exported="true" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true" />

        <activity
            android:name=".ScanActivity"
            android:exported="true" />

        <activity
            android:name=".AccountManagementActivity"
            android:exported="true" />


    </application>

</manifest>
